{"swagger":"2.0","info":{"description":"Distributor-SPJ-Rebate API will give distributors the ability to retrieve SPJ rebate information seamlessly in their ecosystem. This is available only for NAM distributors using SE Advantage application for quotation management.","title":"Distributor-SPJ-Rebate","version":"1.0"},"basePath":"/quoterebatelines/1.0","host":"us.api-prd.schneider-electric.com","schemes":["https"],"security":[{"OAuth2":["read_rebateLines"]}],"consumes":["application/json"],"produces":["application/json"],"paths":{"/quoterebatelines/{quoteNumber}":{"get":{"summary":"To get Quote Rebate Lines","produces":["application/json"],"tags":["Distributor-SPJ-Rebate"],"parameters":[{"name":"quoteNumber","in":"path","required":true,"type":"string","description":"Quote Number for which Rebate Lines are to be retrieved. Eg; Q-203645","x-example":"Q-203645"}],"responses":{"200":{"description":"OK. Success","schema":{"$ref":"#/definitions/RebateLinesResult"}},"404":{"description":"\"An error to convey that the Rebate Lines could not be retrieved because of an invalid Quote Number.\\n The possible Error Codes are: \n\t QUOTE_NOT_FOUND \n \n\t Eg; {\"errorCode\":\"QUOTE_NOT_FOUND,\"errorMessage\": \"This Quote Number is not known\"} \n\t }","schema":{"$ref":"#/definitions/Error404"}},"500":{"description":"The requested URL does not exists or the API is not available right now.\n\tEg;{\"errorCode\":\"INTERNAL SERVER ERROR,\"errorMessage\": \"This information is not available right now\"}","schema":{"$ref":"#/definitions/Error500"}}},"x-auth-type":"Application & Application User","x-throttling-tier":"Unlimited"}}},"securityDefinitions":{"OAuth2":{"description":"Oauth2 Application security","type":"oauth2","tokenUrl":"https://us.api-prd.schneider-electric.com/token","flow":"application","scopes":{"read_rebateLines":"access Quote rebate lines"}}},"definitions":{"RebateLinesResult":{"type":"object","example":{"quoteHeader":{"authorizedNetPrice":513.48,"billToAccountNumber":"40389","controlNumberForClaim":"5896068","createdBy":"TERRI CAMPBELL","createdDate":"2015-08-19T15:10:16Z","customer":"12345","proposalCity":"GRANITEVILLE, SC","proposalName":"TRIAL BREAKER UPGRAD","proposalState":"South Carolina","quoteName":"TRIAL BREAKER UPGRAD","quoteNumber":"Q-203645","quoteToName":"BRIDGESTONE FIRESTONE SC","totalAmount":1443.09,"totalRebateAmount":929.61},"quoteLines":[{"authorizedUnitPrice":162.67,"catalogNumber":"9422CSF30","costPer":1,"distributorSellNetPrice":162.67,"extendedPurchaserProfilePrice":212.81,"extendedRebateAmount":50.14,"itemCategory":"21732","itemDescription":"OPERATING MECHANISM CABLE MECHANISM NEMA","itemDesignation":"SWBD A","lineDisplayNumber":"05045789","profileUnitNetPrice":212.81,"spjRebate":true,"supplierName":"SQD DISTEQUIP","totalOrderQuantity":1,"unitListPrice":337.8,"unitRebateAmount":2.91}]},"properties":{"quoteHeader":{"$ref":"#/definitions/QuoteHeader"},"quoteLines":{"description":"","type":"array","items":{"$ref":"#/definitions/QuoteLinesItem"}}},"description":"Result of the RebateLines returning the quote details and the list of rebate quote lines for the quote."},"QuoteHeader":{"title":"quoteHeader","type":"object","properties":{"authorizedNetPrice":{"description":"The authorized net price for Rebate lines only.","example":513.48,"type":"number","format":"double"},"billToAccountNumber":{"description":"The number that references the generated claim.","example":"40389","type":"string"},"controlNumberForClaim":{"description":"The number that references the generated claim.","example":"5896068","type":"string"},"createdBy":{"description":"The user that created the quote in SEAdvantage application.","example":"TERRI CAMPBELL","type":"string"},"createdDate":{"description":"The date at which rebate was submitted in the SEAdvantage application.","example":"2015-08-19T15:10:16Z","type":"string","format":"date-time"},"customer":{"description":"The number that references the generated claim.","example":"12345","type":"string"},"proposalCity":{"description":"The city whtere the project will be constructed.","example":"GRANITEVILLE, SC","type":"string"},"proposalName":{"description":"The name of the project.","example":"TRIAL BREAKER UPGRAD","type":"string"},"proposalState":{"description":"The state where the project will be constructed.","example":"South Carolina","type":"string"},"quoteName":{"description":"The quote name that identifies the quote in the SEAdvantage application.","example":"TRIAL BREAKER UPGRAD","type":"string"},"quoteNumber":{"description":"The quote number that identifies the quote in the SEAdvantage application.","example":"Q-203645","type":"string"},"quoteToName":{"description":"The number that references the generated claim.","example":"BRIDGESTONE FIRESTONE SC","type":"string"},"totalAmount":{"description":"The total stock cost of material.","example":1443.09,"type":"number","format":"double"},"totalRebateAmount":{"description":"The total rebate amount of the through stock material on the project.","example":929.61,"type":"number","format":"double"}}},"QuoteLinesItem":{"title":"quoteLinesItem","type":"object","properties":{"authorizedUnitPrice":{"description":"The authorized sell price of one unit of the product.","example":162.67,"type":"number","format":"double"},"catalogNumber":{"description":"The catalog number.","example":"9422CSF30","type":"string"},"costPer":{"description":"The quantity sold in each package.","example":1,"type":"number","default":1},"distributorSellNetPrice":{"description":"The authorized sell price of one unit of the product times margin.","example":162.67,"type":"number","format":"double"},"extendedPurchaserProfilePrice":{"description":"Cost times Quantity","example":212.81,"type":"number","format":"double"},"extendedRebateAmount":{"description":"The extended credit amount on line item.","example":50.14,"type":"number","format":"double"},"itemCategory":{"description":"The product category identifier.","example":"21732","type":"string"},"itemDescription":{"description":"The catalog description.","example":"OPERATING MECHANISM CABLE MECHANISM NEMA","type":"string"},"itemDesignation":{"description":"The label attached to the line item.","type":"string"},"lineDisplayNumber":{"description":"The unique identifier of line item.","example":"05045789","type":"number"},"profileUnitNetPrice":{"description":"The unit cost of material.","example":212.814,"type":"number","format":"double"},"spjRebate":{"description":"The identifier that is used for material sold through stock or drop shipped.","example":true,"type":"boolean"},"supplierName":{"description":"Manufacturing supplier(Schneider-Electric)","example":"SQD DISTEQUIP","type":"string","default":"SQD DISTEQUIP"},"totalOrderQuantity":{"description":"The quantity of product that has been quoted.","example":1,"type":"number"},"unitListPrice":{"description":"The unit list price of product.","example":337.8,"type":"number","format":"double"},"unitRebateAmount":{"description":"Special price agreement times Quantity.","example":0,"type":"number","format":"double"}}},"Error404":{"type":"object","example":{"errorCode":"QUOTE_NOT_FOUND","errorMessage":"This Quote Number is not known"},"required":["errorCode"],"properties":{"errorCode":{"type":"string","example":"QUOTE_NOT_FOUND"},"errorMessage":{"type":"string","example":"This Quote Number is not known"}}},"Error500":{"type":"object","required":["errorCode"],"properties":{"errorCode":{"type":"string","example":"INTERNAL SERVER ERROR"},"errorMessage":{"type":"string","example":"This information is not available right now"}}}}}